NODE_ENV="development"
PORT="4000"
API_PREFIX="/api/v1"
CORS_ORIGIN="http://localhost:3000"

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.gqwmasvglwwkpyrdacml:qGoW6fseZ1y1TvCf@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.gqwmasvglwwkpyrdacml:qGoW6fseZ1y1TvCf@aws-1-us-west-2.pooler.supabase.com:5432/postgres"